<!DOCTYPE html>

<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>

<body>
<div class="p-4">
    <div class="card">
        <div class="card-header"> Liste Pateients</div>
        <div class="card-body">
            <form method="get" th:action="@{index}">
                <labe>Keyword</labe>
                <input type="text" name="keyword" th:value="${keyword}" >
                <button type="submit" class="btn btn-info">Chercher</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Is Sick</th>
                    <th>Score<th>
                </tr>
                <tr th:each="p:${listPatients}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.dateOfBirth}"></td>
                    <td th:text="${p.isSick}"></td>
                    <td th:text="${p.score}"></td>
                </tr>

                </thead>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:href="@{/index(page=${status.index},keyword=${keyword})}"
                       th:class="${currentPage==status.index}?'btn btn-info ms-1':'btn btn-outline-info ms-1'"
                       th:text="${status.index}"></a>
            </ul>
        </div>
    </div>
</div>
</body>
</html>